.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.authors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    font-size: 1.2em;
    color: #666;
    margin: 5px 0;
}

/* Estilos para os Selects (Forma Geométrica e Unidade de Medida) */
.shape-selector,
.unit-selector {
    margin-bottom: 20px;
    width: 100%;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    background-size: 16px;
    color: black; /* Cor do texto do select */
    background: white url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 10px center;
}

select option {
    color: black; /* Cor do texto das opções */
    background-color: white; /* Cor de fundo das opções */
}

/* Estilos para os Inputs de Medidas */
.measurement-inputs div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-weight: 500;
    width: 120px;
    text-align: right;
    margin-right: 15px;
}

input[type="number"] {
    width: 180px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Botão Calcular */
button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* Estilos para os Resultados */
.result-container {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: monospace;
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between; /* Distribui espaço entre label e valor */
}

.result-label {
    font-weight: bold;
    text-align: left;
    margin-right: 20px; /* Espaçamento entre label e valor */
}

.result-value {
    text-align: right;
}